[submodule "software/acc_eval/lm_evaluation_harness"]
	path = software/acc_eval/lm_evaluation_harness
	url = https://github.com/kongtiaochengtailang/lm_evaluation_harness.git
[submodule "software/acc_eval/own_transformers"]
	path = software/acc_eval/own_transformers
	url = https://github.com/kongtiaochengtailang/transformers.git
